In [3]:
base={'name':['case','case_short','max_year','pat','wos'],
     'myvalue':['Agricultural biotechnology','Agbio',2016,'Patents','Scientific Publications']}
base

{'name': ['case', 'case_short', 'max_year', 'pat', 'wos'],
 'myvalue': ['Agricultural biotechnology',
  'Agbio',
  2016,
  'Patents',
  'Scientific Publications']}

In [4]:
import pandas as pd
df=pd.DataFrame(base)
df

         name                     myvalue
0        case  Agricultural biotechnology
1  case_short                       Agbio
2    max_year                        2016
3         pat                     Patents
4         wos     Scientific Publications

In [5]:
df.to_csv('base_parameters.csv',encoding='utf-8',index=False)